# Exclude default Py data formats and Py files that may accidentally save your data.
__pycache__/

# Exclude the following directories 
/data/
/output/

# Exclude data file types
*.doc
*.docx
*.xls
*.xlsx
*.xlsm
*.xlsb
*.csv
*.pdf
*.svg
*.html
